<?php if ($this->isEnabled()): ?>
    <script type="text/javascript">
        //<![CDATA[
            thiscartpopup = new cartpopup();
            <?php if ($this->isProductPage()): ?>
                thiscartpopup.product = true;
                thiscartpopup.backurl = "<?php echo $this->getCategoryUrl(); ?>";
                thiscartpopup.backname = "<?php echo $this->getCategoryName(); ?>";
                thiscartpopup.imageurl = "<?php echo $this->getProductImageUrl(); ?>";
                thiscartpopup.productname = "<?php echo $this->getProductName(); ?>";
            <?php endif; ?>
            thiscartpopup.showpopup = <?php echo $this->showPopup(); ?>;
            thiscartpopup.emptycart = <?php echo $this->emptyCart(); ?>;
            <?php if ($this->displayCartButton()): ?>
                thiscartpopup.cartbutton = "<?php echo $this->getSkinUrl('images/ajaxcartpopup/button.gif'); ?>";
                thiscartpopup.carturl = "<?php echo $this->getCartUrl(); ?>";
                thiscartpopup.carttext = "<?php echo $this->__('View Cart'); ?>";
            <?php endif; ?>
            <?php if ($this->displayCheckoutButton()): ?>
                thiscartpopup.checkoutbutton = "<?php echo $this->getSkinUrl('images/ajaxcartpopup/button.gif'); ?>";
                thiscartpopup.checkouturl = "<?php echo $this->getCheckoutUrl(); ?>";
                thiscartpopup.checkouttext = "<?php echo $this->__('Checkout'); ?>";
            <?php endif; ?>
            thiscartpopup.ajaxenabled = <?php echo $this->ajaxEnabled(); ?>;
            thiscartpopup.slidespeed = <?php echo $this->getSlideSpeed(); ?>;
            thiscartpopup.deleteurls = [];
            thiscartpopup.updateurl = "<?php echo $this->getUpdateUrl(); ?>";
            thiscartpopup.showonadd = <?php echo $this->showPopupOnAdd(); ?>;
            thiscartpopup.autoclose = false;
            thiscartpopup.autoclosetime = <?php echo $this->getAutoCloseTime(); ?>;
            thiscartpopup.clickopen = <?php echo $this->getClickOpen(); ?>;
            thiscartpopup.formkey = "<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>";
        //]]>
    </script>
    <div id="cartpopup" style="display:none">
        <div id="cartpopup_slidecontainer">
            <?php echo $this->getChildHtml('ajaxcartpopupbody'); ?>
        </div>
        <div id="dialog-overlay"></div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
            thiscartpopup.afterInit();
            Event.observe(window, "resize", function() {
                thiscartpopup.positionAll();
            });
        //]]>
    </script>
<?php endif; ?>