<?php
    $_productCollection = $this->getProductCollection();
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<?php
	$_collectionSize = $_productCollection->count();
	$_columnsCount = $this->getColumnsCount();
	$_qsHelper = $this->helper('quickshop');
	$_imgHelper = $this->helper('catalog/image');
	$_ftHelper = $this->helper('filterproducts');
    $_helper = $this->helper('catalog/output');
	$_uniqId = uniqid('grid');
	$options = $this->getData();
	$curPage = (int)$this->getCurPage();
	$_limit = (int)$this->getLimit();
	$wlHelper = $this->helper('wishlist');
	$_width = $options['thumb_height']; $_height = $options['thumb_height'];
	$_imgHelper = $this->helper('catalog/image');
	$_qsEnable = Mage::helper('core')->isModuleEnabled('Codazon_Quickshop');
	$_storeId = Mage::app()->getStore()->getId();
?>
<div class="codazon-filter codazon-filter-style-06 <?php echo $options['custom_class'] ?>" id="<?php echo $_uniqId ?>">
	<div class="products-grid"> 
    <div class="product-items same-height">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
    	<?php if($i%$_columnsCount == 0): ?>
    	<ul class="item-group">
    	<?php endif ?>
            <li class="item product-item cdz-col-<?php echo (string)($i%$_columnsCount + 1) ?>">
				<div class="product-item-info">
				<div class="cdz-hover-section">
					<div class="cdz-product-top">
                    <?php if( $this->display('image') ):?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img class="img-responsive" src="<?php echo (string)$_imgHelper->init($_product, 'small_image')->resize($_width,$_height); ?>" id="product-collection-image-<?php echo $_product->getId(); ?>"  alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    <img src="<?php echo (string)$_imgHelper->init($_product,'thumbnail')->resize($_width, $_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>" class="alternative-img img-responsive" />
                    </a>
                    <?php endif ?>
                    <?php //if( $this->display('label') ) echo $_ftHelper->getProductLabel($_product) ?>
                    </div>
					<?php if( $this->display('wishlist_btn') ):?>
                    <div class="cdz-product-wishlist">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <div class="actions-secondary" ><a data-toggle="tooltip" data-placement="right" title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="action link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></div>
                        <?php endif; ?>
                    </div>
                    <?php endif ?>                    
                </div>
				
                <div class="product-item-details">
					<div class="product-name-price">
						<?php if( $this->display('name') ):?>
						<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
						<?php endif ?>
						<?php if( $this->display('price') ):?>
							<?php echo $this->getPriceHtml($_product, true) ?>
						<?php endif ?>
					</div>
                    <?php if ( $this->display('description') ):
					$desc = $this->stripTags($_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'));
					if(strlen($desc)>80) {
						$strCutTitle = substr($desc, 0, 80);
						$desc = substr($strCutTitle, 0, strrpos($strCutTitle, ' '))."&hellip;";
					}
					?>
					<div class="desc product-item-description"><?php echo $desc; ?></div>
                    <?php endif ;?>
					<?php if( $this->display('rating') ):?>
                        <?php $summaryData = Mage::getModel('review/review_summary')->setStoreId($_storeId)->load($_product->getId()); ?>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:<?php echo $summaryData['rating_summary']?$summaryData['rating_summary']:0; ?>%"></div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="cdz-buttons-container">
                        <div class="cdz-buttons-inner">
                        <?php if($_qsEnable) echo $_qsHelper->getQuickshopHtml($_product) ?>
                        <?php if( $this->display('addtocart_btn') ):?>
                            <?php if($_product->isSaleable()): ?>
                                <button data-toggle="tooltip" data-original-title="<?php echo $this->__('Add to Cart') ?>" type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php endif; ?>
                        <?php endif ?>
                        <?php if( $this->display('compare_btn') ):?>
                        <?php if($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                        <a data-toggle="tooltip" data-original-title="<?php echo $this->__('Add to Compare') ?>" href="<?php echo $_compareUrl ?>" class="action link-compare"><?php echo $this->__('Add to Compare') ?></a>
                        <?php endif; ?>
                        <?php endif ?>
                        </div>
                    </div>   
                </div>
				</div>
            </li>
        <?php $i++; ?>
        <?php if( ($i%$_columnsCount == 0) or ($i==$_collectionSize)): ?>
            </ul>
        <?php endif ?>
        <?php endforeach ?>
		</div>
	</div>
</div>
<?php
echo $this->getLayout()->createBlock('themeframework/configurableSwatches_catalog_media_js_list')->setTemplate('codazon_filterproducts/list/js.phtml')->setImageSize(array($_width,$_height))->setProductCollection($_productCollection)->toHtml()
?>
<?php if(  $options['use_slider'] == 1 ): ?>
<script type="text/javascript">
	(function($){
	<?php if( !empty( $options['after_load'] ) and ($options['after_load'] == 1) ): ?>
	$(document).ready(function(e) {
	<?php endif ?>
        var $owl = $('#<?php echo $_uniqId ?> .product-items');
		$owl.addClass('owl-carousel owl-theme');
		$owl.owlCarousel({
			autoplay:	<?php echo (  $options['auto_play'] == 1 )?'true':'false'; ?>,
			autoplayTimeout: 5000,
			smartSpeed:	250,
			loop: <?php echo (  $options['loop'] == 1 )?'true':'false'; ?>,
			responsiveClass:true,
			nav: <?php echo (  $options['show_nav'] == 1 )?'true':'false'; ?>,
			navText: ['Prev','Next'],
			fluidSpeed: true,
			responsive:{
				0:{items: <?php echo $options['items_0'] ?>},
				320:{items:	<?php echo $options['items_320'] ?>},
				480:{items:	<?php echo $options['items_480'] ?>},
				768:{items:	<?php echo $options['items_768'] ?>},
				1024:{items: <?php echo $options['items_1024'] ?>},
				1280:{items: <?php echo $options['items_1280'] ?>}
			},
			margin: <?php echo $options['margin'] ?>,
			center:	false,
			dots: <?php echo (  $options['show_dots'] == 1 )?'true':'false'; ?>
		});
    <?php if( !empty( $options['after_load'] ) and ($options['after_load'] == 1) ): ?>
	});
	<?php endif ?>
	})(jQuery);
</script>
<?php endif ?>

<?php endif; ?>