<?php
    $_productCollection = $this->getProductCollection();
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<?php
	$_collectionSize = $_productCollection->count();
	$_helper = $this->helper('catalog/output');
	$_uniqId = uniqid('grid');
	$options = $this->getDataArray();
	$curPage = (int)$this->getCurPage();
	$_limit = (int)$this->getLimit();
	$beginItemNum = ($curPage - 1)*$_limit;
	$qsHelper = $this->helper('quickshop');
	$_imgHelper = $this->helper('catalog/image');
	$_ftHelper = $this->helper('filterproducts');
	$_columnCount = $this->getColumnsCount();
	$_width = 260; $_height = 320;
?>
<?php if(!$this->getAddedItem()): ?>
<div data-role="infinitescroll_grid" class="codazon-filter codazon-filter-style-04 <?php echo $options['custom_class'] ?>" id="<?php echo $_uniqId ?>">

	<div class="products-grid"> 
    <ul class="product-items same-height">
<?php endif ?>

    <?php $i=0; foreach ($_productCollection as $_product): ?>
            <li class="item product-item item-<?php echo (string)($beginItemNum + $i + 1) ?> cdz-col-<?php echo (string)($i%$_columnCount + 1) ?>">
				<div class="product-item-info">
				<div class="cdz-hover-section">
					<div class="cdz-product-top">
                    <?php if( $this->display('image') ):?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $_imgHelper->init($_product, 'small_image')->resize($_width,$_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    <img src="<?php echo (string)$_imgHelper->init($_product,'thumbnail')->resize($_width, $_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>" class="alternative-img img-responsive" />
                    </a>
                    <?php endif ?>
                    </div>
                    <?php //if( $this->display('label') ) echo $_ftHelper->getProductLabel($_product) ?>
                    <div class="cdz-product-wishlist">
                    <?php if( $this->display('wishlist_btn') ):?>
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <div class="actions-secondary" ><a data-toggle="tooltip" title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="action link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></div>
                        <?php endif; ?>
					<?php endif ?>
                    </div>
                </div>
				
                <div class="product-item-details">
					<?php if( $this->display('name') ):?>
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                    <?php endif ?>
                    
                    <?php if ( $this->display('description') ):
					$desc = $this->stripTags($_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'));
					if(strlen($desc)>80) {
						$strCutTitle = substr($desc, 0, 80);
						$desc = substr($strCutTitle, 0, strrpos($strCutTitle, ' '))."&hellip;";
					}
					?>
					<div class="desc product-item-description"><?php echo $desc; ?></div>
                    <?php endif ;?>
                    
                    
                    <?php if( $this->display('price') ):?>
						<?php echo $this->getPriceHtml($_product, true, $_uniqId) ?>
                    <?php endif ?>
					<?php if( $this->display('rating') ):?>
						<?php //if($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php //endif; ?>
                    <?php endif; ?>
                    <?php if(false): ?>
                    <div class="cdz-product-bottom">
						<div class="cdz-buttons-container">
                        	<div class="cdz-buttons-inner">
                        	<?php if( $this->display('addtocart_btn') ):?>
								<?php if($_product->isSaleable()): ?>
                                    <button data-toggle="tooltip" data-original-title="<?php echo $this->__('Add to Cart') ?>" type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                <?php endif; ?>
                            <?php endif ?>
                            <?php echo $qsHelper->getQuickshopHtml($_product) ?>
                            <?php if( $this->display('compare_btn') ):?>
							<?php if($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                            <a data-toggle="tooltip" data-original-title="<?php echo $this->__('Add to Compare') ?>" href="<?php echo $_compareUrl ?>" class="action link-compare"><?php echo $this->__('Add to Compare') ?></a>
                            <?php endif; ?>
                            <?php endif ?>
                            </div>
                        </div>
                    </div>
                    <?php endif; ?>
                </div>
				</div>
            </li>
        <?php $i++; endforeach ?>
<?php if(!$this->getAddedItem()): ?>
		</ul>
        <div class="ajax-load-wrapper">
            <div class="ajax-load-button">
                <a href="javascript:void(0)" class="btn cdz-ajax-trigger">
                    <?php echo $this->__('Load more') ?>
                </a>
                <div class="ajax-loader" style="display:none;"><?php echo $this->__('Loading...') ?></div>
            </div>
        </div>
		</div>
		<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>  	
</div>
<script>
var jsonData_<?php echo $_uniqId ?> = <?php echo json_encode($this->getData()) ?>;
jQuery('#<?php echo $_uniqId ?>').cdzFilterProducts({
	jsonData: jsonData_<?php echo $_uniqId ?>,
	ajaxUrl: "<?php echo $this->getUrl("filterproducts/filterproducts/loadMoreItems"); ?>",
	lastPage: <?php echo $_productCollection->getLastPageNumber() ?>
});
</script>
<?php endif; ?>
<?php endif; ?>