<?php
    $_productCollection = $this->getProductCollection();
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<?php
	$_collectionSize = $_productCollection->count();
	$_qsHelper = $this->helper('quickshop');
	$_helper = $this->helper('catalog/output');
	$_uniqId = uniqid('grid');
	$options = $this->getDataArray();
	$wlHelper = $this->helper('wishlist');
	$_qsHelper = $this->helper('quickshop');
	$_width = $options['thumb_height']; $_height = $options['thumb_height'];
	$_imgHelper = $this->helper('catalog/image');
	$placeHolder = $_imgHelper->init(Mage::getModel('catalog/product'), 'small_image')->resize($_width, $_height);
	$_ftHelper = $this->helper('filterproducts');
	
?>
<div class="category-products codazon-filter codazon-list-style-01 <?php echo $options['custom_class'] ?>" id="<?php echo $_uniqId ?>">
	<div class="products-list"> 
    <ul class="product-items">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
            <li class="item product-item" style="min-height:auto;">
				<div class="product-item-info">
                    <div class="cdz-product-left col-xs-10">
                    <?php if( $this->display('image') ):?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
					<img src="<?php echo $placeHolder ?>" class="img-responsive cdz-lazy" data-src="<?php echo $_imgHelper->init($_product, 'small_image')->resize($_width,$_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
					<img src="<?php echo $placeHolder ?>" data-src="<?php echo (string)$_imgHelper->init($_product, 'thumbnail')->resize($_width,$_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>" class="cdz-lazy alternative-img img-responsive"  />
					</a>
                    <?php echo $_qsHelper->getQuickshopHtml($_product) ?>
                    <?php endif ?>
                    <?php //if( $this->display('label') ) echo $_ftHelper->getProductLabel($_product) ?>
                    </div>

                    <div class="cdz-product-right col-xs-14">
                    	<div class="product-item-details">
							<?php if( $this->display('name') ):?>
                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                            <?php endif ?>
                            
                            <?php if ( $this->display('description') ):
                            $desc = $this->stripTags($_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'));
                            if(strlen($desc)>80) {
                                $strCutTitle = substr($desc, 0, 80);
                                $desc = substr($strCutTitle, 0, strrpos($strCutTitle, ' '))."&hellip;";
                            }
                            ?>
                            <div class="desc product-item-description"><?php echo $desc; ?></div>
                            <?php endif ;?>
                            
                            
                            <?php if( $this->display('price') ):?>
                                <?php echo $this->getPriceHtml($_product, true, $_uniqId) ?>
                            <?php endif ?>
                            <?php if( $this->display('rating') ):?>
                                <?php if($_product->getRatingSummary()): ?>
                                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                        <div class="cdz-buttons-container">
                            <div class="cdz-buttons-inner">
                            <?php if( $this->display('addtocart_btn') ):?>
                                <?php if($_product->isSaleable()): ?>
                                    <button data-toggle="tooltip" data-original-title="<?php echo $this->__('Add to Cart') ?>" type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                <?php endif; ?>
                            <?php endif ?>
                            <?php if( $this->display('compare_btn') ):?>
                            <?php if($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                            <a data-toggle="tooltip" data-original-title="<?php echo $this->__('Add to Compare') ?>" href="<?php echo $_compareUrl ?>" class="action link-compare"><?php echo $this->__('Add to Compare') ?></a>
                            <?php endif; ?>
                            <?php endif ?>
                            <?php if( $this->display('wishlist_btn') ):?>
                                <?php if ($wlHelper->isAllow()) : ?>
                                <a data-toggle="tooltip" title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="action link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                                <?php endif; ?>
                            <?php endif ?>
                            </div>
                        </div>
                    </div>
				</div>
            </li>
        <?php $i++; ?>
        <?php endforeach ?>
		</ul>
	</div>
</div>
<?php endif; ?>