<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<?php
echo $this->getDesignStyles();
$package = Mage::getDesign()->getPackageName();
$theme = Mage::getDesign()->getTheme('frontend');
$is_persistent = Mage::helper('opc')->isPersistentMember();
?>
<div class="opc-wrapper-opc design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">
    <h2><?php echo $this->__('Checkout')?></h2>
	<div class="opc-menu">
<?php if(!$is_persistent):?>
            <?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
            <?php echo $this->getChildHtml('paypal.button'); ?>

            <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()):?>
                <div class="account-login-info">
                    <h4><?php echo $this->__('Account') ?></h4>
                    <p><?php echo $this->__('Have An Account? Or Create A New Account below') ?></p>
                </div>
                <?php echo $this->getChildHtml('login');?>
                <div class="left review-menu-block">
                    <a class="review-total">
                        <i class="fa fa-2x fa-shopping-cart"></i>
                        <i class="fa fa-2x dd-arrow"></i>
                        <?php echo Mage::helper('opc')->getGrandTotal() ?>
                    </a>   
                    <span class="polygon"></span>
                    <div class="hidden" id="opc-review-block">
                        <?php echo $this->_getReviewHtml() ?>
                    </div>
                </div>
            <?php endif;?>
            
	   <div class="clear move-columns"></div>
<?php else:?>
	<?php echo $this->getChildHtml('login');?>
<?php endif;?>
	</div>
	
	<div class="clear"></div>

<div <?php if($is_persistent):?>style="display:none !important;"<?php endif;?>>

    <div class="opc-col-left">
        <?php if (Mage::getSingleton('customer/session')->isLoggedIn()):?>
        <div class="checkout-summary">
            <h3><?php echo $this->__('Checkout Summary'); ?></h3>
            <div class="left review-menu-block">
                <a class="review-total">
                    <i class="fa fa-2x fa-shopping-cart"></i>
                    <i class="fa fa-2x dd-arrow"></i>
                    <?php echo Mage::helper('opc')->getGrandTotal() ?>
                </a>   
                <span class="polygon"></span>
                <div class="hidden" id="opc-review-block" style="left:0;">
                    <?php echo $this->_getReviewHtml() ?>
                </div>
            </div>
        </div>
        <div class="clear move-columns" style="margin-bottom: 30px;"></div>
        <?php endif; ?>
        
	<form id="opc-address-form-billing" method="post">
            <?php echo $this->getChildHtml('billing')?>
        </form>
        	
        <form id="opc-address-form-shipping" class="hidden" method="post">
        <?php echo $this->getChildHtml('shipping')?>
        </form>
		
    </div>

    <div class="opc-col-center">
       <?php if (!$this->getOnepage()->getQuote()->isVirtual()):?>
    	<div class="shipping-block">
        	<h3><?php echo $this->__('Shipping Method')?></h3>
			<?php if (Mage::helper('core')->isModuleEnabled('Shipperhq_Splitrates')): ?>
				<p class="opc-required-msg">You must provide information for all fields marked with an (<span class="highlighted-star">*</span>)</p>
				<button id="update-shipping-methods" type="button">Get shipping method/rates</button>
		    <?php endif; ?>
        	<div id="shipping-block-methods">
				<?php echo $this->getChildHtml('shipping_method');//$this->_getShippingMethodsHtml();?>
			</div>
		</div>
		<?php endif;?>
		
		<?php if(Mage::helper('opc')->isShowDiscount()):?>
		<div class="discount-block">
			<h3><?php echo $this->__('Discount Codes')?><span class='fa expand_plus'></span></h3>
			<div  class="collapse-block hidden">
			     <?php echo $this->getChildhtml('coupon');?>
			</div>
		</div>
		<?php endif;?>

		<?php if(Mage::helper('opc')->isShowComment()):?>
			<?php echo $this->getChildhtml('customer.comment');?>
		<?php endif;?>
    </div>

    <div class="opc-col-right">
		<div class="payment-block <?php if ($this->getOnepage()->getQuote()->isVirtual()):?>clear-margin<?php endif;?>">
			<h3><?php echo $this->__('Payment Method')?></h3>
			<?php echo $this->getChildHtml('payment')//$this->_getPaymentMethodsHtml();?>
		</div>
    
        <?php if (Mage::getConfig()->getModuleConfig('IWD_OnepageCheckoutSignature')->is('active', 'true')): ?>
            <div class="signature-block">
                <h3><?php echo $this->__('Signature')?><span class='fa expand_plus'></span></h3>
                <div  class="collapse-block hidden">
                    <?php echo $this->getChildhtml('opcsignature');?>
                </div>
            </div>
        <?php endif;?>

		<div class="opc-review-actions" id="checkout-review-submit">
		      <h5 class="grand_total"><?php echo $this->__('Grand Total')?><?php echo Mage::helper('opc')->getGrandTotal()?></h5>
		      <?php echo $this->getChildHtml('agreements')?>
		      <?php echo $this->getChildHtml('opc.newsletters');?>
		      <button type="button" title="<?php echo $this->__('Place Order Now') ?>" class="button btn-checkout opc-btn-checkout"><span><span><?php echo $this->__('Place Order Now') ?></span></span></button>
		</div>
    </div>
    
</div>
<div class="clear"></div>
</div>
<script>
	var vopc = '<?php echo Mage::getConfig()->getModuleConfig("IWD_Opc")->version;?>';
	IWD.OPC.Checkout.config = '<?php echo $this->getJsonConfig()?>';
	<?php if ($this->getOnepage()->getQuote()->isVirtual()):?>
	IWD.OPC.Checkout.isVirtual = true;
	<?php endif;?>
</script>

<div id="agree_error" style="display:none !important;"><?php echo $this->__('Please agree to all the terms and conditions before placing the order.');?></div>
<div id="pssm_msg" style="display:none !important;"><?php echo $this->__('Please specify shipping method.');?></div>
<div class="opc-ajax-loader">
	<div id="floatingCirclesG">
		<div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
		<div class="f_circleG" id="frotateG_08"></div>
	</div>
</div>
<div class="opc-message-wrapper design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">
	
	<div class="opc-messages">
		<a class="close-message-wrapper"><i class="fa fa-close"></i></a>
		<div class="opc-message-container"></div>
		<div class="opc-messages-action"><button class="button"><span><span><?php echo $this->__('Close')?></span></span></button></div>
	</div>
</div>