/**
 * MageWorx
 * CustomOptions Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_CustomOptions
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */

.option a {text-decoration: none;}
.option .special-price {color: #CD5033;}
.option .small-image-preview {padding:3px;}
.option li.swatch {display: inline-block; margin: 1px; text-align: center; }
.option li.swatch-disabled {opacity: 0.3;}

.option img.swatch, .option div.swatch {margin: 1px 1px 5px 1px;}
.option img.swatch-selected, .option div.swatch-selected {border: 1px solid #000000; margin-bottom:4px;}
 
.option div.swatch-color {
    display:inline-block;
    width:100%;
    height:100%;
}

.option .limit-holder {
    display: block; padding: 10px 0 0;
}

.option .radio-checkbox-img {
    float:left;
}
.product-options ul.options-list label.radio-checkbox-label-1 {
    padding:6px; width:330px;
}
.product-options ul.options-list label.radio-checkbox-label-2 {
    padding:6px; width:400px;
}
.option .radio-checkbox-text {
    display:inline-block; float:left; width:200px; margin: 2px 5px;
}
.option .radio-checkbox-label-1 .label-qty, .option .radio-checkbox-label-2 .label-qty {
    display:inline-block; float:right; padding:5px;
}        
.product-options ul.options-list .radio-checkbox-label-1 input.product-custom-option, .product-options ul.options-list .radio-checkbox-label-2 input.product-custom-option {
    margin:5px;
}

.product-options ul.options-list span.radio-checkbox-label {
    display: inline-block;
}

.product-options ul.tier-prices {display: block;}
 
.tagtip-question:before {
    content:"\e085";
}
.tagtip-question {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    width: 16px; 
    height: 16px;
    margin-left: 5px;
    cursor: pointer;
} 
.tagtip {
    background: #fff;
    border: 1px solid #c7c7c7;
    color: #505050;
    padding: 2px;
    min-width: 100px;
    max-width: 500px;
    text-align: center;
    z-index: 9999;
}
.tagtip .content {
    padding: 5px 5px 0px 5px;
    text-align:left;
}
.tagtip .content p {margin: 0;}

.product-options span.required {
    color: #df280a;
}

.product-options span.required::after {
    content: "";
}