.modal-open {
    overflow: hidden;
}

.signin-iwd-modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.signin-iwd-modal.fade .signin-iwd-modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.signin-iwd-modal.in .signin-iwd-modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .signin-iwd-modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.signin-iwd-modal-dialog {
    position: relative;
    z-index: 2000;
    width: auto;
    margin: 10px;
}

.signin-iwd-modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*border-radius: 6px;*/
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.signin-iwd-modal-content h3 {
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: .4em
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.signin-iwd-modal-header {
}

.signin-iwd-modal-header h4 {
    padding: 20px 35px;
    color: #4a4a4a;
    font-weight: 400;
    font-size: 37px;
    text-align: left;
    margin-bottom: 0;
    text-transform: none;
}

.signin-iwd-modal-header .close {
    background: #333;
    cursor: pointer;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
    z-index: 1000;
    display: block;
    height: 17px;
    width: 60px;
    border: none;
    line-height: 12px;
    /*font-style: oblique;*/
    font-size: 10px;
    font-family: sans-serif;
    color: #fff;
    opacity: 1;
    font-weight: normal;
    text-shadow: none; 
}

.signin-iwd-modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.signin-iwd-modal-body {
    position: relative;
    padding: 0 35px 20px;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .signin-iwd-modal-dialog {
        width: 380px;
        margin: 30px auto;
    }

    .signin-iwd-modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 767px) {
    .signin-iwd-modal-dialog {
        width: 320px;
        margin: 30px auto;
    }

    .signin .socials-login h4 {
        font-size: 24px !important
    }

    .signin-iwd-modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.signin-iwd-modal-footer:before,
.signin-iwd-modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after,
.signin-iwd-modal-footer:after {
    clear: both;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.signin {
}

.signin * {
    font-family: Helvetica Neue, Arial;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.signin .clear {
    clear: both
}

.signin .ajax-loader {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    display: none
}

.signin .login-logo {
    padding: 20px 0;
    text-align: center;
}

.signin .cms-block {
    margin-bottom: 20px;
    padding: 20px 20px 0;
}

.signin .cms-block p {
    font-size: 14px;
    margin: 0
}

/** LOGIN FORM **/
.signin .login-form {
    padding: 0;
    text-align: left;
}

.signin .login-form .page-title {
    border: none
}

.signin .login-form h1 {
    border-bottom: 1px solid #787878;
    color: #020202;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
}

.signin .login-input {
    float: left;
    width: 100%
}

.signin .login-input label {
    color: #535353;
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 10px;
}

.signin .login-input label em {
    font-size: 15px;
    color: #00909e;
    margin-left: 0;
}

.signin .login-input input[type="text"],
.signin .login-input input[type="password"] {
    width: 100%;
    border: 1px solid #a7a7a7;
    height: 34px;
    padding: 0 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.signin .row {
    overflow: hidden;
}

.signin .row .login-input {
    margin-right: 0;
    margin-bottom: 10px;
}

.signin .row .login-input + .login-input {
    margin-bottom: 0
}

.signin .remember-me {
    margin-top: 10px;
    float: left;
}

.signin .f-p {
    margin-top: 10px;
    float: left;
    margin-bottom: 20px;
}

.signin .f-p a {
    color: #559197;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none
}

.signin .btn-login {
    border: 3px solid #7a0a09;
    width: 100%;
    margin-bottom: 15px;
    background: #CA4544;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    text-align: center;
    font: 600 14px/1.35 Poppins,Helvetica Neue,Verdana,Arial,sans-serif;
    padding: 10px;
    margin-right: 17px;
    cursor: pointer;
}

.signin .btn-login:hover {
    background-color: #7a0a09;
}

.signin #create-account-singup {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 31px;
    width: 100%;
    display: block;
    background-color: #999999;
    text-align: center;
    line-height: 31px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 1px #5a5a5a;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}

.signin #create-account-singup:hover {
    background-color: #bcbcbc;
}

.signin .signin-btn-small {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 31px;
    width: 100%;
    display: block;
    background-color: #999999;
    text-align: center;
    line-height: 31px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 1px #5a5a5a;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.signin .signin-btn-small:hover {
    background-color: #bcbcbc;
}

.signin .btn-right {
    float: right;
    width: 50%;
}

.signin .signin-actions {
    padding-bottom: 36px;
}

/** Create Account **/
.signin .account-create-signin {
    padding: 0;
    text-align: left;
}

.signin .account-create-signin li {
    margin-bottom: 0
}

.signin .account-create-signin {
    margin-bottom: 0
}

.signin .account-create-signin .page-title {
    border-bottom: 1px solid #787878;
}

.signin .account-create-signin .page-title h1 {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.signin .account-create-signin label {
    color: #535353;
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 10px;
    position: relative;
    left: 0;
}

.signin .account-create-signin label em {
    font-size: 15px;
    color: #00909e;
    margin-left: 0;
}

.signin .account-create-signin .form-list .field {
    width: 100%;
}

.signin .account-create-signin .form-list .field input {
    width: 100%;
}

.signin .account-create-signin .form-list .input-box {
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.65em;
}

.signin .account-create-signin .form-list input.input-text {
    width: 100%;
    border: 1px solid #a7a7a7;
    height: 34px;
    padding: 0 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.signin .account-create-signin .extend-input {
    width: 100%;
}

.signin .account-create-signin .remember-me {
    float: none
}

.signin .account-create-signin .remember-me .input-checkbox{
    float: left;
    margin-right: 20px;
}

.signin .account-create-signin .buttons-set {
    margin: 0;
}

.signin .account-create-signin p.required {
    float: none;
}

.signin .account-create-signin .fieldset {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
    margin-top: 0;
}

.signin .account-create-signin h2 {
    border-bottom: 1px solid #999999;
    line-height: 1;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #4a4a4a;
    font-weight: normal;
    text-transform: none;
}

.signin .account-create-signin .newsletter {
}

.signin .account-create-signin .label {
    width: auto;
}

.signin .account-create-signin .input-box {
    width: auto !important;
}

.signin .account-create-signin .input-box input {
    margin-top: 0
}

.signin .signin-iwd-modal-body .account-create-signin .sign_up_for_newsletter {
    background: none;
    padding: 4px 0 0 20px;
    margin: 0 !important;
}

.signin .signin-iwd-modal-body .account-create-signin .sign_up_for_newsletter:hover {
    background: none;
}

.signin .signin-iwd-modal-body #is_subscribed {
    margin: 0;
    padding: 0;
}

.signin .buttons-set .back-link a {
    color: #559197;
    font-size: 12px;
    text-decoration: none;
}

/** Forgot Password */
.signin .account-forgotpassword {
    padding: 0;
    text-align: left;
}

.signin .account-forgotpassword .page-title {
    border-bottom: 1px solid #787878;
    margin-bottom: 9px;
}

.signin .account-forgotpassword .page-title h1 {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.signin .account-forgotpassword label {
    color: #535353;
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 10px;
}

.signin .account-forgotpassword .fieldset {
    padding: 22px 15px 12px;
}

.signin .account-forgotpassword p.required {
    float: none;
}

.signin .account-forgotpassword .input-box {
    width: 100%
}

.signin .account-forgotpassword .input-box input {
    width: 100%;
    border: 1px solid #a7a7a7;
    height: 34px;
    padding: 0 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.signin .account-forgotpassword .input-box #email_address {
    width: 98%
}

.signin .account-forgotpassword .fieldset {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
    margin-top: 0;
}

.signin .account-forgotpassword p {
    border-bottom: 1px solid #b6b6b6;
    color: #535353;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: -6px;
    padding-bottom: 17px;
}

.signin .account-forgotpassword .btn-submit {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 44px;
    width: 100%;
    display: block;
    background-color: #00909e;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 1px 1px #02484f;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
    margin-top: 33px;
}

.signin .account-forgotpassword .btn-submit:hover {
    background-color: #39b9c6;
}

.signin .account-forgotpassword .btn-back-login {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 31px;
    width: 100%;
    display: block;
    background-color: #999999;
    text-align: center;
    line-height: 31px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 1px #5a5a5a;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: bold
}

.signin .account-forgotpassword .btn-back-login:hover {
    background-color: #bcbcbc;
}

.signin .account-forgotpassword .signin-actions {
    padding-bottom: 17px;
}

.signin-iwd-modal-body .control.newsletter label {
    background: none;
    padding: 0 0 0 20px;
    margin: 0 !important
}

.signin-iwd-modal-body .control.newsletter input {
    margin-left: 0 !important;
    margin-top: 5px !important
}

.signin-iwd-modal-body .fieldset + .fieldset {
    margin-top: 30px !important
}

.signin-iwd-modal-body .fieldset + .socials-login {
    margin-top: 30px !important
}

.signin .socials-login {
    word-spacing: 8px;
    padding: 20px 0 0 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid #b6b6b6;
}

.signin .socials-login h4 {
    color: #4a4a4a;
    font-size: 30px;
    text-align: left;
    font-weight: normal;
    margin-bottom: 10px;
}

.signin .socials-login a {
    margin-bottom: 10px;
    background-image: url("images/sprite.png");
    background-color: transparent;
    background-repeat: no-repeat
}

.signin .btn-facebook-login {
    background-position: 0 0;
    display: inline-block;
    height: 32px;
    text-indent: -999em;
    width: 147px;
    cursor: pointer;
}

.signin .btn-facebook-login:hover {
    background-position: -1px -148px;
}

.signin .btn-google-login {
    background-position: 0 -49px;
    display: inline-block;
    height: 32px;
    text-indent: -999em;
    width: 147px;
    cursor: pointer;
}

.signin .btn-google-login:hover {
    background-position: -1px -197px;
}

.signin .btn-twitter-login {
    background-position: -162px 0;
    display: inline-block;
    height: 32px;
    text-indent: -999em;
    width: 147px;
    cursor: pointer;
}

.signin .btn-twitter-login:hover {
    background-position: -163px -148px;
}

.signin .btn-yahoo-login {
    background-position: -162px -49px;
    display: inline-block;
    height: 32px;
    text-indent: -999em;
    width: 147px;
    cursor: pointer;
}

.signin .btn-yahoo-login:hover {
    background-position: -163px -197px;
}

.signin .btn-paypal-login {
    background-position: -82px -98px;
    display: inline-block;
    height: 32px;
    text-indent: -999em;
    width: 147px;
    cursor: pointer;
}

.signin .btn-paypal-login:hover {
    background-position: -82px -245px;
}

.signin .signin-error {
    border: 1px dashed #eb340a;
    margin: 10px 0;
    padding: 10px;
    color: #ff0000;
    text-align: center;
}

.signin .signin-success {
    border: 1px dashed #05637b;
    color: #05637b;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0 0 6px;
    padding: 10px;
}

.signin .success-msg {
}

.signin .success-msg {
    border: 1px solid #00909e !important;
    background: #f4f4f4 !important;
    padding: 10px 22px !important;
    text-align: center
}

.signin .success-msg span {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 600
}

.signin .success-msg li {
    border: none !important;
    padding: 0 !important
}

.signin .success-msg li:before {
    border: none !important
}

#floatingCirclesG {
    position: relative;
    width: 64px;
    height: 64px;
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    top: 20%;
    margin: 0 auto;
}

.f_circleG {
    position: absolute;
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    -moz-border-radius: 6px;
    -moz-animation-name: f_fadeG;
    -moz-animation-duration: 1.04s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 6px;
    -webkit-animation-name: f_fadeG;
    -webkit-animation-duration: 1.04s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 6px;
    -ms-animation-name: f_fadeG;
    -ms-animation-duration: 1.04s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 6px;
    -o-animation-name: f_fadeG;
    -o-animation-duration: 1.04s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 6px;
    animation-name: f_fadeG;
    animation-duration: 1.04s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#frotateG_01 {
    left: 0;
    top: 26px;
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#frotateG_02 {
    left: 8px;
    top: 8px;
    -moz-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    animation-delay: 0.52s;
}

#frotateG_03 {
    left: 26px;
    top: 0;
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -animation-delay: 0.65s;
    animation-delay: 0.65s;
}

#frotateG_04 {
    right: 8px;
    top: 8px;
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

#frotateG_05 {
    right: 0;
    top: 26px;
    -moz-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    animation-delay: 0.91s;
}

#frotateG_06 {
    right: 8px;
    bottom: 8px;
    -moz-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    animation-delay: 1.04s;
}

#frotateG_07 {
    left: 26px;
    bottom: 0;
    -moz-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

#frotateG_08 {
    left: 8px;
    bottom: 8px;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: #00909e
    }
    100% {
        background-color: #ffffff
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: #00909e
    }
    100% {
        background-color: #ffffff
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: #00909e
    }
    100% {
        background-color: #ffffff
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: #00909e
    }
    100% {
        background-color: #ffffff
    }
}

@keyframes f_fadeG {
    0% {
        background-color: #00909e
    }
    100% {
        background-color: #ffffff
    }
}

#iwd-signin-captcha-error p {
    color: red;
    font: 14px "Helvetica";
    border: 1px red dotted;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}

.iwd-position-for-register {
    position: fixed;
}