<?php $_helper = Mage::helper('signin');?>
<?php if ($_helper->isEnable() && !$_helper->isLoggedIn() && $_helper->isAvailableVersion()):?>
<div class="signin-iwd-modal fade signin" id="signin-iwd-modal" tabindex="-1" role="dialog" aria-labelledby="login-header" aria-hidden="true">
	<div class="signin-iwd-modal-dialog mosocials-logindal-dialog">
		<div class="signin-iwd-modal-content">
			<div class="signin-iwd-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="signin-iwd-modal-title" id="login-header"><?php echo $this->__('Login')?></h4>
				<h4 id="register-header" style="display:none"><?php echo $this->__('Register')?></h4>
				<h4 id="forgot-header" style="display:none"><?php echo $this->__('Forgot Password?')?></h4>
			</div>
			<div class="signin-iwd-modal-body">
			    <?php echo $this->getChildHtml('signin.modal.cms')?>
				<div id="signin-iwd-ajax-load"></div>
			</div>
			<div class="ajax-loader">
				<div id="floatingCirclesG">
					<div class="f_circleG" id="frotateG_01"></div>
					<div class="f_circleG" id="frotateG_02"></div>
					<div class="f_circleG" id="frotateG_03"></div>
					<div class="f_circleG" id="frotateG_04"></div>
					<div class="f_circleG" id="frotateG_05"></div>
					<div class="f_circleG" id="frotateG_06"></div>
					<div class="f_circleG" id="frotateG_07"></div>
					<div class="f_circleG" id="frotateG_08"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//<![CDATA[
		var SigninConfig = <?php echo $this->getConfig();?>;	
	//]]>
</script>
<?php endif;?>