<div class="three-icons">
    <div class="container">
        <div class="row">
            <div class="col col-visit-us col-lg-8 col-md-8 col-sm-8 col-xs-24">
                <a href="<?php $this->getBaseUrl(); ?>flagship-store"><?php echo $this->__('Visit Us'); ?></a>
            </div>
            <div class="col col-call-us col-lg-8 col-md-8 col-sm-8 col-xs-24">
                <span><?php echo $this->__('Call Us'); ?> </span>
                <a href="tel:<?php echo Mage::getStoreConfig('general/store_information/phone'); ?>">
                    <?php echo Mage::getStoreConfig('general/store_information/phone'); ?>
                </a>
            </div>
            <div class="col col-email-us col-lg-8 col-md-8 col-sm-8 col-xs-24">
                <a href="mailto:<?php echo Mage::getStoreConfig('trans_email/ident_support/email'); ?>">
                    <?php echo $this->__('Email Us'); ?>
                </a>
            </div>
        </div>
    </div>
</div>