<?php $_helper = Mage::helper('signin');?>
<?php if (!$_helper->isFacebookLoginEnable()) return?>
<?php if (!$_helper->disabledSDK()):?>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
	FB.init({
		appId      : '<?php echo $_helper->getFacebookAppId()?>',
		status     : true, // check login status
		cookie     : true, // enable cookies to allow the server to access the session
	    xfbml      : true,  // parse XFBML
	    version    : 'v2.4'
	});
};

//Load the SDK asynchronously
(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<?php endif;?>